h2
  | Редактирование профиля 
  = current_user.email
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f|
  = devise_error_messages!
  .field.form-group
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      div
        | Currently waiting confirmation for: 
        = resource.unconfirmed_email
    i.col-sm-12.control-label
      | (оставьте пустым, если не хотите менять)
    = f.label 'Пароль', class: 'col-sm-3 control-label'
    .col-sm-9
      = f.password_field :password, autocomplete: "off", class: 'form-control'
      br
    = f.label 'Подтвердите пароль', class: 'col-sm-3 control-label'
    .col-sm-9
      = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
      br
    i.col-sm-12.control-label
      | (нам нужен ваш текущий пароль, чтобы сохранить изменения)
    = f.label 'Текущий пароль', class: 'col-sm-3 control-label'
    .col-sm-9
      = f.password_field :current_password, autocomplete: "off", class: 'form-control'
      br
    .col-sm-offset-3.col-sm-9
      = f.submit "Сохранить изменения", class: 'btn btn-success btn-lg'
      br
h3
  | Удалить мою учётную запись
= button_to "Удалить мою учётную запись", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete, class: 'btn btn-danger'
= link_to :back, class: 'btn btn-primary btn' do
  i.glyphicon.glyphicon-arrow-left
  | Назад 
