h2
  | Регистрация
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f|
  = devise_error_messages!
  .field.form-group
    = f.label :email, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.email_field :email, autofocus: true, class: 'form-control'
      br
    = f.label 'Пароль', class: 'col-sm-3 control-label'
    .col-sm-9
      = f.password_field :password, autocomplete: "off", class: 'form-control'
      br
    = f.label 'Подтвердите пароль', class: 'col-sm-3 control-label'
    .col-sm-9
      = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
      br
  .col-sm-offset-3.col-sm-9
    = f.submit "Зарегистрироваться", class: 'btn btn-success btn-lg'
    br
= render "devise/shared/links"
