= form_for(@translation, html: {class: 'form-horizontal'}) do |f|
  - if @translation.errors.any?
    .alert.alert-danger[role="alert"]
      h2
        = pluralize(@translation.errors.count, "error")
        |  prohibited this translation from being saved:
      ul
        - @translation.errors.full_messages.each do |message|
          li
            = message
  p
    | Просто скопируй адрес в поле внизу и нажми на кнопочку «ПЕРЕВОД!»!
  .field.form-group
    = f.label 'ТВОЙ АДРЕС', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :original, class: 'form-control'
  .actions.form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'ПЕРЕВОД!', class: 'btn btn-success btn-lg'
