- if @translations.length == 0
  p
    | Пока что переводов нет. Добавь новый! ;)
- else
  table.table.table-hover
    thead
      tr
        th
          | Адрес
        th
          | Как читать ;)
        th[colspan="3"]
    tbody
      - @translations.each do |translation|
        tr
          td
            = truncate(translation.original)
          td
            = truncate(translation.content, length: 75)
          td
            = link_to translation, class: 'btn btn-primary btn-md' do
              i.glyphicon.glyphicon-arrow-right
              | Показать 
          - if current_user.try(:admin?)
            td
              = link_to translation, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger btn-md' do
                i.glyphicon.glyphicon-trash
                | Удалить 
  div
    = paginate @translations
.row
  .col-md-12
    = link_to new_translation_path, class: 'btn btn-success btn-lg' do
      i.glyphicon.glyphicon-plus
      | Новый перевод 
