ul.nav.nav-tabs.nav-justified[role="tablist"]
  li.active
    = link_to 'Все переводы', translations_path
  li
    = link_to 'Новый перевод', new_translation_path
  li
    = link_to 'Список пользователей', all_users_path
  - if current_user
    li
      = link_to 'Мои переводы', translations_my_path
h1
  | Все переводы =)
= render 'translations_table'
