ul.nav.nav-tabs[role="tablist"]
  li
    = link_to 'Все переводы', translations_path
  li
    = link_to 'Новый перевод', new_translation_path
  li
    = link_to 'Список пользователей', all_users_path
  - if current_user
    li.active
      = link_to 'Мои переводы', translations_my_path
h1
  | Твои переводы ;)
= render 'translations_table'
