ul.nav.nav-tabs.nav-justified[role="tablist"]
  li
    = link_to 'Все переводы', translations_path
  li.active
    = link_to 'Новый перевод', new_translation_path
  li
    = link_to 'Список пользователей', all_users_path
  - if current_user
    li
      = link_to 'Мои переводы', translations_my_path
h1
  | Новый перевод
= render 'form'
= link_to translations_path, class: 'btn btn-primary' do
  i.glyphicon.glyphicon-arrow-left
  | Ко всем переводам 
