- if controller_name != 'sessions'
  .col-sm-offset-3.col-sm-9
    = link_to "Войти", new_session_path(resource_name), class: 'btn btn-primary'
    br
- if devise_mapping.registerable? && controller_name != 'registrations'
  .col-sm-offset-3.col-sm-9
    = link_to "Зарегистрироваться", new_registration_path(resource_name), class: 'btn btn-primary'
    br
- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  .col-sm-offset-3.col-sm-9
    = link_to "Забыли пароль?", new_password_path(resource_name), class: 'btn btn-default'
    br
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
  br
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)
  br
- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)
    br
