h2
  | Forgot your password?
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal'}) do |f|
  = devise_error_messages!
  .field.form-group
    = f.label :email, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.email_field :email, autofocus: true, class: 'form-control'
      br
    .actions
      .col-sm-offset-3.col-sm-9
        = f.submit "Send me reset password instructions", class: 'btn btn-success'
        br
= render "devise/shared/links"
