ul.nav.nav-tabs.nav-justified[role="tablist"]
  li
    = link_to 'Все переводы', translations_path
  li
    = link_to 'Новый перевод', new_translation_path
  li.active
    = link_to 'Список пользователей', all_users_path
  - if current_user
    li
      = link_to 'Мои переводы', translations_my_path
h1
  | Пользователи
- if @users.length == 0
  p
    | Пока что никто не зарегистрировался. Стань первым пользователем! ;)
- else
  table.table.table-hover
    thead
      tr
        th
          | E-mail
        th
          | Переводов создано
        th
          | Время регистрации
        th[colspan="3"]
    tbody
      - @users.each do |user|
        - if user == current_user
          tr.info

        - else
          tr

        td
          = user.email
        td
          = translations_count(user)
        td
          = user.created_at
  div
    = paginate @users
