p#notice
  = notice
p
  strong
    | E-mail:
  = current_user.email
p
  strong
    | Зарегистрирован:
  = current_user.created_at
p
  strong
    | Переводов создано: 
  = current_user.translations.length
= link_to translations_path, class: 'btn btn-primary' do
  i.glyphicon.glyphicon-arrow-left
  | Ко всем переводам 
= link_to translations_my_path, class: 'btn btn-success' do
  i.glyphicon.glyphicon-arrow-right
  | К моим переводам 
= link_to 'Редактировать профиль', edit_user_registration_path, class: 'btn btn-default'
= link_to 'Выйти', destroy_user_session_path, :method => :delete, class: 'btn btn-default'
