h2
  | Вход
= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f|
  .field.form-group
    = f.label :email, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.email_field :email, autofocus: true, class: 'form-control'
      br
    = f.label 'Пароль', class: 'col-sm-3 control-label'
    .col-sm-9
      = f.password_field :password, autocomplete: "off", class: 'form-control'
      br
    - if devise_mapping.rememberable?
      = f.label 'Запомнить меня', class: 'col-sm-3 control-label'
      br
      .col-sm-9
        = f.check_box :remember_me, class: 'checkbox'
  .actions
    .col-sm-offset-3.col-sm-9
      = f.submit "Войти", class: 'btn btn-success btn-lg'
      br
= render "devise/shared/links"
