footer
  .container
    .row.text-center
      .col-md-12
        = link_to 'GitHub', "https://github.com/DTLuna/skakdollar", class: 'btn btn-info btn-lg'
        a#octocat[href="https://github.com/DTLuna/skakdollar"]
          = image_tag('octocat.png', size: "46")
    .row.text-center
      .col-md-12
