nav.navbar.navbar-default[role="navigation"]
  .container
    .navbar-header
      a.navbar-brand[href="/"]
        | Эс как доллар
      button.navbar-toggle.collapsed[data-toggle="collapse" data-target="#header_menu" aria-expanded="false"]
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    - if user_signed_in?
      |  <a href=
      = user_root_path
      | > 
      button.btn.btn-link.navbar-btn[type="button"]
        = current_user.email
    .collapse.navbar-collapse#header_menu
      ul.nav.navbar-nav.navbar-right
        li
          = link_to 'Новый перевод', new_translation_path
        li
          = link_to 'Список пользователей', all_users_path
        li.dropdown
          a.dropdown-toggle[href="#" data-toggle="dropdown"]
            | Меню 
            span.caret
          ul.dropdown-menu[role="menu"]
            - if user_signed_in?
              li
                = link_to 'Выйти', destroy_user_session_path, :method => :delete
            - else
              li
                = link_to 'Войти', new_user_session_path
              li.divider[role="separator"]
              li
                = link_to 'Зарегистрироваться', new_user_registration_path
