doctype html
html
  head
    title
      | Эс как доллар
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    meta[content="text/html charset=UTF-8", http-equiv="Content-Type"]
    meta[name='viewport' content='width=device-width, initial-scale=']
    = csrf_meta_tags
    = favicon_link_tag("favicon.png")
  body
    = render 'layouts/header'
    #main-container.container
      .row
        .col-md-3
          h1
            | Эс как доллар
          = image_tag('blonde.jpg', class: 'img-rounded')
          = image_tag('privetiki.png', class: 'img-rounded')
          p
            | Этот сайт мы придумали специально для тебя! Он поможет тебе продиктовать подругам адрес твоей странички, электронную почту и разные другие адреса в интернете!
          p
            strong
              | Жми кнопочку «Новый перевод»!
        .col-md-9
          = render 'layouts/messages'
          = yield
        hr
    =render 'layouts/footer'


